---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

Education
======
* M.S. in Computer Science, Stanford University, 2026 (expected)
* B.A. in Mathematics, UC Berkeley, 2023

Work experience
======
* Summer 2024: Student Assistant
  * San Francisco State University
  * Duties included: Writing course notes (code and exposition) for mechanistic interpretability seminar
  * Supervisor: Professor Daniel Huang

* Fall 2023: Course Reader
  * UC Berkeley
  * Duties included: Grading student assignments for courses in mathematical logic, computability theory, and algebraic topology
  * Supervisors: Professor Antonio Montalban, Professor John Lott

* Summer 2022: Undergraduate Research Fellow
  * University of Chicago
  * Duties included: Conducting research in stable homotopy theory and category theory; see <a href="google.com">my senior thesis</a>
  * Supervisor: Professor J. Peter May
  
Skills
======
* Skill 1
* Skill 2
  * Sub-skill 2.1
  * Sub-skill 2.2
  * Sub-skill 2.3
* Skill 3

Publications
======
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Talks
======
  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Service and leadership
======
* Former president of the <a href="https://math.berkeley.edu/~musa/">Mathematics Undergraduate Student Association</a> at UC Berkeley